{% extends "base.html" %}

{% block title %}
Purple Cap Prediction
{% endblock %}

{% block content %}

<section class="page-header">

    <h1> Purple Cap Prediction</h1>

    <p>
        Predicted Top Wicket Takers for the Upcoming IPL Season
    </p>

</section>

<div class="leaderboard-container">

    <div class="winner-card purple-card">

        <span class="crown">
            👑
        </span>

        <h2>Purple Cap Favourite</h2>

        <h1>
            {{ predictions[0].player }}
        </h1>

        <p>
            {{ predictions[0].team }}
        </p>

        <div class="big-score">
            {{ predictions[0].predicted_wickets }}
        </div>

        <p>Predicted Wickets</p>

    </div>

    <div class="leaderboard">

        <h2>Top 10 Predictions</h2>

        {% for player in predictions %}

        <div class="leaderboard-row">

            <div class="rank">

                {% if loop.index == 1 %}
                🥇
                {% elif loop.index == 2 %}
                🥈
                {% elif loop.index == 3 %}
                🥉
                {% else %}
                {{ loop.index }}
                {% endif %}

            </div>

            <div class="player-info">

                <h3>{{ player.player }}</h3>

                <p>{{ player.team }}</p>

            </div>

            <div class="score">

                {{ player.predicted_wickets }} Wickets

            </div>

        </div>

        {% endfor %}

    </div>

</div>

{% endblock %}
